absl-py==0.2.2
actionlib==1.11.13
angles==1.9.11
appdirs==1.4.3
astor==0.7.1
atomicwrites==1.2.1
attrs==18.2.0
backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
backports.weakref==1.0.post1
bhand-controller==0.1.2
bleach==1.5.0
bondpy==1.8.3
camera-calibration==1.12.23
camera-calibration-parsers==1.11.13
catkin==0.7.14
certifi==2017.7.27.1
chardet==3.0.4
cleverhans==2.1.0
cloudpickle==0.5.3
controller-manager==0.13.3
controller-manager-msgs==0.13.3
cplex==12.8.0.0
cv-bridge==1.12.8
cycler==0.10.0
dask==0.18.2
decorator==4.3.0
deepdish==0.3.6
diagnostic-analysis==1.9.3
diagnostic-common-diagnostics==1.9.3
diagnostic-updater==1.9.3
docloud==1.0.257
docplex==2.4.61
dynamic-reconfigure==1.5.50
edward==1.3.5
enum34==1.1.6
funcsigs==1.0.2
futures==3.2.0
gast==0.2.0
gazebo-plugins==2.5.17
gazebo-ros==2.5.17
gencpp==0.6.0
geneus==2.2.6
genlisp==0.4.16
genmsg==0.5.11
gennodejs==2.0.1
genpy==0.6.7
grpcio==1.13.0
h5py==2.8.0
html5lib==0.9999999
idna==2.6
image-geometry==1.12.8
imgaug==0.2.6
interactive-markers==1.11.4
ipython==5.7.0
ipython-genutils==0.2.0
joblib==0.12.5
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
kiwisolver==1.0.1
laser-geometry==1.6.4
llvmlite==0.25.0
Mako==1.0.7
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==2.2.2
message-filters==1.12.14
mnist==0.2.2
mock==2.0.0
more-itertools==4.3.0
mss==3.3.1
networkx==2.2
nose==1.3.7
numba==0.40.0
numexpr==2.6.6
numpy==1.14.5
pandas==0.23.3
pathlib2==2.3.2
pbr==4.1.0
pexpect==4.6.0
pickleshare==0.7.4
Pillow==5.2.0
pluggy==0.7.1
pluginlib==1.11.3
pr2-power-board==1.1.6
prettyprint==0.1.5
prompt-toolkit==1.0.15
protobuf==3.6.1
psutil==5.4.6
ptyprocess==0.6.0
py==1.6.0
py-trees==0.5.10
pycodestyle==2.4.0
pydot==1.2.4
Pygments==2.2.0
pymap3d==1.6.3
pyparsing==2.2.0
pytest==3.8.2
python-dateutil==2.7.3
python-qt-binding==0.3.4
pytools==2018.5.2
pytz==2018.5
PyWavelets==1.0.1
PyYAML==3.12
qt-dotgraph==0.3.11
qt-gui==0.3.11
qt-gui-cpp==0.3.11
qt-gui-py-common==0.3.11
requests==2.18.4
resource-retriever==1.12.4
rocon-console==0.3.2
rocon-python-utils==0.3.2
rosbag==1.12.14
rosboost-cfg==1.14.4
rosclean==1.14.4
roscreate==1.14.4
rosgraph==1.12.14
roslaunch==1.12.14
roslib==1.14.4
roslint==0.11.0
roslz4==1.12.14
rosmake==1.14.4
rosmaster==1.12.14
rosmsg==1.12.14
rosnode==1.12.14
rosparam==1.12.14
rospy==1.12.14
rosservice==1.12.14
rostest==1.12.14
rostopic==1.12.14
rosunit==1.14.4
roswtf==1.12.14
rqt-action==0.4.9
rqt-bag==0.4.12
rqt-bag-plugins==0.4.12
rqt-bhand==0.1.2
rqt-console==0.4.8
rqt-controller-manager==0.13.3
rqt-dep==0.4.9
rqt-ez-publisher==0.5.0
rqt-graph==0.4.9
rqt-gui==0.5.0
rqt-gui-py==0.5.0
rqt-image-view==0.4.13
rqt-joint-trajectory-controller==0.13.4
rqt-joint-trajectory-plot==0.0.2
rqt-launch==0.4.8
rqt-launchtree==0.2.0
rqt-logger-level==0.4.8
rqt-moveit==0.5.7
rqt-msg==0.4.8
rqt-multiplot==0.0.7
rqt-nav-view==0.5.7
rqt-plot==0.4.8
rqt-pose-view==0.5.8
rqt-pr2-dashboard==0.4.0
rqt-publisher==0.4.8
rqt-py-common==0.5.0
rqt-py-console==0.4.8
rqt-py-trees==0.3.1
rqt-reconfigure==0.4.10
rqt-robot-dashboard==0.5.7
rqt-robot-monitor==0.5.8
rqt-robot-steering==0.5.9
rqt-runtime-monitor==0.5.7
rqt-rviz==0.5.10
rqt-service-caller==0.4.8
rqt-shell==0.4.9
rqt-srv==0.4.8
rqt-tf-tree==0.5.8
rqt-top==0.4.8
rqt-topic==0.4.10
rqt-web==0.4.8
rqt-wrapper==0.1.4
rviz==1.12.16
scandir==1.7
scikit-image==0.14.1
scikit-learn==0.19.2
scipy==1.1.0
seaborn==0.9.0
sensor-msgs==1.12.7
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.11.0
sklearn==0.0
smach==2.0.1
smach-ros==2.0.1
smclib==1.8.3
subprocess32==3.5.2
swifter==0.153
tables==3.4.4
tensorboard==1.12.0
tensorflow-gpu==1.15.2
tensorflow-probability==0.5.0
termcolor==1.1.0
tf==1.11.9
tf-conversions==1.11.9
tf2-geometry-msgs==0.5.20
tf2-kdl==0.5.20
tf2-py==0.5.20
tf2-ros==0.5.20
Theano==1.0.2
tinydb==3.11.1
toolz==0.9.0
topic-tools==1.12.14
tqdm==4.24.0
traitlets==4.3.2
unique-id==1.0.5
urllib3==1.22
wcwidth==0.1.7
Werkzeug==0.14.1
xacro==1.11.3
